<!DOCTYPE html>
<html>

  <head>
    <title>いい感じの初手率計算機</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="初手が良い感じになる確率を割り出す君２">
    <script src="vue-2.5.16.min.js" type="text/javascript"></script>
  </head>

  <body>
    <div id="app">

      <h1>いい感じの初手率計算機</h1>

      <h2>なにこれ</h2>

      <p>
        デッキの構成と初手の条件を定義すると、その確率が計算できます。
      </p>

      <hr />

      <h2>基本設定</h2>

      <div>
        デッキ枚数：
        <input type="number" v-model.number="source.deckNum" /> 枚
      </div>

      <div>
        引く枚数：
        <input type="number" v-model.number="source.handNum" /> 枚
      </div>

      <h3>各カードの投入数</h3>

      <ul>
        <li v-for="(e, ix) in source.cards">
          <input type="text"
                 v-model="source.cards[ix].label"
                 :placeholder="'カード' + String.fromCharCode(65 + ix)" />
          x <input type="number" v-model.number="source.cards[ix].count" /> 枚
          <button v-if="ix >= 1" @click="delCard(ix)">x</button>
        </li>
      </ul>

      <p>
        <button @click="addCard()">＋</button>
      </p>

      <hr />

      <h2>事前条件</h2>

      <p>※わかる人向け、通常はそのままで ok です。</p>

      <div v-for="(e, i) in target.priorClauses">
        <p v-if="i > 0">または</p>
        <h3>
          パターン {{ i + 1 }}
          <button v-if="i > 0" @click="delPriorClause(i)">x</button>
        </h3>
        <ul>
          <li v-for="(e, j) in source.cards">
            {{ source.cards[j].label || 'カード' + String.fromCharCode(65 + j) }}
            <input type="number" min="0" :max="e.count"
                   v-model.number="target.priorClauses[i][j].value">
            枚
            <select v-model="target.priorClauses[i][j].type">
              <option value="min">以上</option>
              <option value="exact">ジャスト</option>
              <option value="max">以下</option>
            </select>
          </li>
        </ul>
      </div>

      <p>
        <button @click="addPriorClause()">＋</button>
      </p>

      <p>が保証されているとき、</p>

      <hr />

      <h2>計算したい初手</h2>

      <p>初手が</p>

      <div v-for="(e, i) in target.posteriorClauses">
        <p v-if="i > 0">または</p>
        <h3>
          パターン {{ i + 1 }}
          <button v-if="i > 0" @click="delPosteriorClause(i)">x</button>
        </h3>
        <ul>
          <li v-for="(e, j) in source.cards">
            {{ source.cards[j].label || 'カード' + String.fromCharCode(65 + j) }}
            <input type="number" min="0" :max="e.count"
                   v-model.number="target.posteriorClauses[i][j].value">枚
            <select v-model="target.posteriorClauses[i][j].type">
              <option value="min">以上</option>
              <option value="exact">ジャスト</option>
              <option value="max">以下</option>
            </select>
          </li>
        </ul>
      </div>

      <p>
        <button @click="addPosteriorClause()">＋</button>
      </p>

      <p>になる確率を計算。</p>

      <hr />

      <h2>結果</h2>

      <p>{{ result | formatProb }} %</p>

      <p><button @click="compute()">計算</button></p>

      <hr />

      <p>
        機能が少ない代わりに不確定サーチの成功率まで計算する
        <a href="https://zk-phi.github.io/pokegear-calc">旧 ver はこちら</a>。
      </p>

    </div>
    <script src="solver.js"></script>
    <script src="main.js"></script>
  </body>

</html>
